Bio==1.8.0
biopython==1.85
imageio==2.37.0
matplotlib==3.10.5
numpy==2.3.2
psutil==5.9.0
py3dmol==2.5.2
PyQt6==6.9.1
PyQt6_WebEngine==6.9.1
pyqt6_sip==13.10.2
pyqtgraph==0.13.7
pytest==8.3.4
rdkit==2025.3.5
Requests==2.32.5
sympy==1.13.3
tiktoken==0.11.0